<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="inventory-card.html">
<link rel="import" href="register-card.html">
<link rel="import" href="order-card.html">
<link rel="import" href="cart-control.html">
<link rel="import" href="filter-card.html">
<link rel="import" href="search-card.html">
<link rel="import" href="login-card.html">
<link rel="import" href="item-card.html">

<dom-module id="app-shell">
  <template>
    <style include="iron-flex iron-flex-alignment">
      :host {
        font-family: Roboto;
      }
    </style>
    <style is="custom-style">
    paper-toolbar {
      --paper-toolbar-background: #004D40;
    }
    </style>
    
   <form 
      is="iron-form"
      id="productForm"
      content-type="application/json"
      action="../src/products.php">
    </form>
    
    <form 
      is="iron-form"
      id="cartForm"
      action="../src/addToCart.php">
      
      <input type="hidden" name="item" value="{{cartTemp}}"/>
    </form>
    
    <template is="dom-if" if="{{loggedIn}}">
      <cart-control cart="{{cartItems}}" visible="{{cartOpen}}" on-cart-resize="onCartResize"></cart-control>
    </template>
    
    <login-card id="login"></login-card>
    <register-card id="register"></register-card>
    
    <paper-drawer-panel id="drawer">
      <paper-header-panel drawer>
        <paper-toolbar>
          <div class="title">Bob's Bowls</div>
        </paper-toolbar>
        <div class="layout vertical center-justified">
          
          <paper-icon-item on-tap="showLoginCard">
            <iron-icon icon="account-circle" item-icon></iron-icon>
            <paper-item-body two-line>
              <div>{{loginLabel}}</div>
              <div secondary>{{loginLevel}}</div>
            </paper-item-body>
          </paper-icon-item>
          
          <template is="dom-if" if="{{loggedIn}}">
            <paper-icon-item on-tap="showCart">
              <iron-icon icon="shopping-cart" item-icon></iron-icon>
              <paper-item-body two-line>
                <div>Cart</div>
                <div secondary>{{cartSize}}</div>
              </paper-item-body>
            </paper-icon-item>
          </template>
          
          <search-card></search-card>
          <filter-card filter="{{filters::input}}"></filter-card>
        </div>
      </paper-header-panel>
      <paper-header-panel main>
        <paper-toolbar>
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
          <div class="flex"></div>
          <paper-tabs id="tabs" class="self-end" selected="{{activeTab}}">
              <paper-tab>BROWSE</paper-tab>
              <template is="dom-if" if="{{isAdmin}}">
                <paper-tab>INVENTORY</paper-tab>
              </template>
              <template is="dom-if" if="{{loggedIn}}">
                <paper-tab>ORDERS</paper-tab>
              </template>
          </paper-tabs>
          
        </paper-toolbar>
        
        <div class="content">
        <iron-pages selected="{{activeTab}}">
          
          <div class="layout horizontal center-justified wrap">
            <template is="dom-repeat" items="{{products}}" filter="{{computeFilter(filterString)}}">
              <item-card on-add-to-cart="addItemToCart" data="{{item}}"></item-card>
            </template>
          </div>
          
          <template id="invTemplate" is="dom-if" if="{{isAdmin}}">
            <div>
              <inventory-card on-stale-product="updateProducts"></inventory-card>
            </div>
          </template>
          
          <template id="ordTemplate" is="dom-if" if="{{loggedIn}}">
            <div>
              <order-card></order-card>
            </div>
          </template>
          
        </iron-pages>
        </div>
        
      </paper-header-panel>
    </paper-drawer-panel>
    
  </template>

  <script>
    Polymer({
      is: "app-shell",
      properties: {
        products: {
          type: Array,
          notify: true
        },
        loggedIn: {
          type: Boolean,
          readyOnly: true,
          value: false
        },
        filters: {
          type: Array,
          notify: true
        },
        cartTemp: {
          type: Number,
          notify: true
        },
        cartOpen: {
          type: Boolean,
          value: false,
          notify: true
        },
        cartSize: {
          type: Number,
          notify: true
        },
        cartItems: {
          type: Array,
          notify: true
        },
        isStaff: {
          type: Boolean,
          default: false
        },
        isManager: {
          type: Boolean,
          default: false
        },
        isAdmin: {
          type: Boolean,
          value: false,
          notify: true,
          computed: 'computeAdmin(isStaff, isManager)'
        },
        activeTab: {
          type: Number,
          value: 0,
          notify: true
        },
        reloadItems: {
          type: Boolean,
          value: false,
          notify: true
        },
        loginLabel: {
          type: String,
          notify: true
        },
        loginLevel: {
          type: String,
          notify: true
        }
      },
      listeners: {
        'login.login-changed': 'setLogin',
        'login.register': 'showRegisterCard',
        'register.register-success': 'showLoginCard',
        'productForm.iron-form-response': 'onUpdateResponse',
        'cartForm.iron-form-response': 'onCartAddResponse',
        'drawer.paper-responsive-change': 'onDrawerChange'
      },
      ready: function() {
        this.loginLabel = "Login";
        this.$.productForm.submit();
      },
      setLogin: function(e) {
        console.log("login update:", e.detail);
        this.loggedIn = e.detail.loggedIn;
        
        if(this.loggedIn) {
          this.isStaff = e.detail.isStaff;
          this.isManager = e.detail.isManager;
          this.loginLabel = e.detail.loginLabel;
          this.loginLevel = e.detail.loginLevel;
          this.cartItems = e.detail.cart;
          this.cartSize = e.detail.cartSize;
          this.$.tabs.notifyResize();
        } else {
          this.isStaff = false;
          this.isManager = false;
          this.$.tabs.select(0);
          this.loginLabel = "Login";
          this.$.tabs.notifyResize();
        }
      },
      showRegisterCard: function() {
        this.$.login.visible = false;
        this.$.register.visible = true;
      },
      showLoginCard: function(e) {
        this.$.login.authAction();
      },
      computeAdmin: function(isStaff, isManager) {
        console.log("isAdmin:", isStaff || isManager);
        return isStaff || isManager;
      },
      updateProducts: function() {
        this.$.productForm.submit()
      },
      onUpdateResponse: function(e) {
        if( e.detail.response && e.detail.response.result ) {
          if(e.detail.response.result == "success") {
            this.products = e.detail.response.products;
            console.log("new products:", this.products);
          } else {
            console.log("app-shell - product update error:",e.detail.response.result);
          }
        } else {
          console.log("app-shell - no response on product update");
        }
      },
      showCart: function() {
        this.cartOpen = true;
      },
      addItemToCart: function(e) {
        if( this.loggedIn && e.detail && e.detail.pid ){
          this.cartTemp = e.detail.pid;
          
          this.$.cartForm.submit();
        } else {
          this.$.register.visible = true;
        }
      },
      onCartAddResponse: function(e) {
        if( e.detail.response && e.detail.response.result ) {
          if(e.detail.response.result == "success") {
            this.cartTemp = null;
            this.cartItems = e.detail.response.cart;
            this.cartSize = e.detail.response.cartSize;
            
            //this.toastText = "";
            //this.$.messageToast
            console.log("added item to cart", e.detail.response);
          } else {
            console.log("app-shell - couldnt add item to cart:", e.detail.response.result);
          }
        } else {
          console.log("app-shell -no response on cart add");
        }
      },
      onDrawerChange: function(e) {
        if( e.detail.narrow ) {
          
        }
      },
      onCartResize: function(e) {
        if( e.detail ){
          this.cartSize = e.detail.cartSize;
        }
      },
      computeFilterString: function(filters) {
        console.log("filter");
        var s = "";
        if( !filters || filters.length == 0 ) return s;
        for( var i=0; i<filters.length; i++ ){
          s += filters[i];
          if( i < filters.length - 1 )
            s += ' ';
        }
        console.log("filterString: ", s);
        return s;
      },
      computeFilter: function(str) {
        if( !str )
          return null;
        else {
          str = str.toLowerCase();
          return function(item) {
            console.log("pname: ", item.pname);
            //console.log("str: ", str);
            return (str.indexOf(item.ptype.toLowerCase()) != -1);
          };
        }
      }
    });
  </script>

</dom-module>
