<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="register-card.html">
<link rel="import" href="filter-card.html">
<link rel="import" href="search-card.html">
<link rel="import" href="item-card.html">

<dom-module id="app-shell">
  <template>
    <style include="iron-flex iron-flex-alignment">
      :host {
        font-family: Roboto;
      }
    </style>
    <style is="custom-style">
      
    </style>
    
    <paper-drawer-panel>
      
      <paper-header-panel drawer>
	<paper-toolbar>
	  <div class="title">Menu</div>
	</paper-toolbar>
	<div class="layout vertical center-justified">
	  <search-card></search-card>
	  <filter-card></filter-card>
	</div>
      </paper-header-panel>

      <paper-header-panel main>
	<paper-toolbar>
	  <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
	  <div class="title">Three Dope Boys</div>

	  <!-- action buttons here -->

	</paper-toolbar>
	<div class="layout horizontal center-justified wrap">
	  <register-card visible></register-card>
 	  <item-card></item-card>
	  <item-card></item-card>
	  <item-card></item-card>
	  <item-card></item-card>
	  <item-card></item-card>
	  <item-card></item-card>
	  <item-card></item-card>
	  <item-card></item-card>
	  <item-card></item-card>
	  <item-card></item-card>
	  <item-card></item-card>
	  <item-card></item-card>
	</div>
      </paper-header-panel>
    </paper-drawer-panel>
    
    </template>

  <script>
    Polymer({
    is: "app-shell"
    });
  </script>

</dom-module>
