<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="cart-control">
  <template>
    <style include="iron-flex iron-flex-alignment">
      .item {
        width: 300px;
        margin: 10px;
        padding: 10px;
      }
    </style>
    
    <style is="custom-style">
      .qBox {
        width: 50px;
      }
    </style>
    
    <form is="iron-form"
      id="uncartItemForm"
      method="post"
      action="../src/removeFromCart.php">
      <input type="hidden" name="pid" value="{{itemToRemove}}"></input>
    </form>
    
    <form is="iron-form"
      id="placeOrderForm"
      method="post"
      action="../src/placeOrder.php">
      <input type="hidden" name="placeOrder" value="place"></input>
    </form>
    
    <paper-dialog modal id="dialog" opened="{{visible}}" class="layout vertical">
      <h2>Shopping Cart</h2>
      
      <div class="layout horizontal wrap">
        <template id="itemTemplate" is="dom-repeat" items="{{cart}}">
          
          <paper-material class="item">
            <div class="layout horizontal center">
              <div class="layout vertical">
                <span class="itemTitle">{{item.pname}}</span>
                <span class="totalItemCost">${{item.totalCost}}</span>
              </div>
              <div class="flex"></div>
              
              <paper-input 
                  id="quantity"
                  label="Quantity"
                  type="number"
                  value="{{item.quantity}}"
                  class="qBox"
                  on-change="onQuantityChange"
                  always-float-label>
                </paper-input>
              
              <div class="layout vertical center-center">
                <paper-icon-button icon="{{item.icon}}" on-tap="itemAction"></paper-icon-button>
              </div>
            </div>
          </paper-material>

        </template>
      </div>
      
      <div class="layout horizontal center-center" id="statusBar"></div>
      
      <div class="buttons">
        <paper-button raised id="placeOrderButton" hidden$="{{zeroCart}}" on-tap="placeOrder">Place Order</paper-button>
        <div class="flex"></div>
        <paper-button raised dialog-dismiss>Done</paper-button>
      </div>
    </paper-dialog>
    
  </template>
  
  <script>
    Polymer({
      is: "cart-control",
      properties: {
        visible: {
          type: Boolean,
          default: false,
          notify: true,
          reflectToAttribute: true
        },
        cart: {
          type: Array,
          notify: true
        },
        itemToRemove: {
          type: Number,
          notify: true
        },
        zeroCart: {
          type: Boolean,
          computed: 'isCartEmpty(cart)'
        }
      },
      listeners: {
        'uncartItemForm.iron-form-response': 'onRemoveResponse',
        'placeOrderForm.iron-form-response': 'onPlaceOrderResponse'
      },
      itemAction: function(e) {
        var model = this.$.itemTemplate.modelForElement(e.target)
        var pid = model.get('item.pid');

        if( model.get('item.icon') == 'check' ) {
          console.log('saving new quantity');
          model.set('item.icon', 'clear');
        } else {
          console.log('removing all items with pid=',pid," from the cart");
          this.itemToRemove = pid;
          this.$.uncartItemForm.submit();
        }
      },
      onQuantityChange: function(e) {
        var model = e.model;
        
        model.set('item.icon', 'check');
        
        console.log(e);
      },
      onRemoveResponse: function(e) {
        if(e.detail.response && e.detail.response.result) {
          console.log("new cart: ", e.detail.response.cart);
          
          if( this.cart && this.cart.length > e.detail.response.cartSize ){
            this.fire('cart-resize', {cartSize: e.detail.response.cartSize});
          }
          
          this.cart = e.detail.response.cart;
        } 
      },
      placeOrder: function(e) {
        console.log("submitting");
        this.$.placeOrderForm.submit();
      },
      onPlaceOrderResponse: function(e) {
        if(e.detail.response && e.detail.response.result) {
          
          // check for success and display colored message in this.$.statusBar
          
          console.log("placeOrder response ", e.detail.response);
          
          this.cart = e.detail.response.cart;
          this.fire('cart-resize', {cartSize: e.detail.response.cartSize});
        }
      },
      isCartEmpty: function(c) {
        if(c)
          return (c.length == 0);
        return false;
      }
    });
  </script>
</dom-module>
