<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-menu/paper-submenu.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="filter-card">
  <template>
    <style include="iron-flex iron-flex-alignment">
    </style>
    <style is="custom-style">
      paper-menu.sublist {
        padding-left: 30px;
      }
    </style>
    
    <paper-menu>
      <paper-submenu>
        <paper-icon-item class="menu-trigger">
          <iron-icon icon="filter-list" item-icon></iron-icon>
          Filter
        </paper-icon-item>
        <paper-menu id="filterMenu" class="menu-content sublist" multi attr-for-selected="label">
          <paper-item label="Toys">Toys</paper-item>
          <paper-item label="Games">Games</paper-item>
          <paper-item label="Fun Stuff">Fun Stuff</paper-item>
          <paper-item label="The Good Stuff">The Good Stuff</paper-item>
        </paper-menu>
      </paper-submenu>
    </paper-menu>
    </template>
    
  <script>
    Polymer({
      is: "filter-card",
      properties: {
        filter: {
          type: Array,
          notify: true
        }
      },
      listeners: {
        'filterMenu.iron-select': 'filterChanged',
        'filterMenu.iron-deselect': 'filterChanged'
      },
      filterChanged: function(e) {
        console.log("new filter: ", this.$.filterMenu.selectedValues);
      }
    });
  </script>
</dom-module>
