<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">

<dom-module id="inventory-card">
  <template>
    <style  include="iron-flex iron-flex-alignment">
      .rightSpace {
        margin-right: 30px;
      }
      .item {
        margin: 10px;
        padding: 20px;
      }
    </style> 
    <style is="custom-style">
      paper-scroll-header-panel {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }
      
      paper-toolbar {
        --paper-toolbar-background: #004D40;
        --paper-toolbar-height: 40px;
        --paper-toolbar-sm-height: 40px;
      }
      
      
      
    </style>
    
    <form 
      is="iron-form"
      id="getInventoryForm" 
      method="post" 
      action="../src/getInventory.php">
      
      <input type="hidden" name="getInventory"></input>
    </form>
    
    <form 
      is="iron-form"
      id="updateInventoryForm"
      content-type="application/json"
      action="../src/updateInventory.php">
      
      <input type="hidden" name="itemToUpdate" value="{{newItem}}"></input>
    </form>
    
    <form 
      is="iron-form"
      id="removeInventoryForm"
      method="post"
      action="../src/removeInventory.php">
      
      <input type="hidden" name="itemToDelete" value="{{itemToDelete}}"></input>
    </form>
    
    <paper-dialog id="affirmReloadDialog">
      <h2>You've modified items...</h2>
      Are you sure you want to refresh the list of items?
      <div class="buttons">
        <paper-button dialog-dismiss>Please, dont</paper-button>
        <paper-button dialog-confirm>Yep</paper-button>
      </div>
    </paper-dialog>
    
    <paper-scroll-header-panel fixed>
      <paper-toolbar>
        <paper-icon-button icon="refresh" on-tap="reloadItems"></paper-icon-button>
        <div class="flex title">Inventory</div>
        <div class="flex"></div>
        <paper-icon-button icon="add" on-tap="addItem"></paper-icon-button>
        <paper-icon-button icon="undo" on-tap="restoreItem"></paper-icon-button>
      </paper-toolbar>
  
      <div class="content">
  
        <div class="layout vertical center-justified">
        <template is="dom-repeat" items="{{inventory}}">
          
          <paper-material class="item layout horizontal">
              
              <div class="layout vertical">
                <paper-input 
                  id="name" 
                  label="Product Name"
                  value="{{item.pname}}"
                  disabled="{{!item.editing}}"
                  always-float-label>
                </paper-input>
                
                <paper-input 
                  id="quantity"
                  label="Quantity"
                  type="number"
                  value="{{item.quantity}}"
                  disabled="{{!item.editing}}"
                  always-float-label>
                </paper-input>
                  
                <paper-input 
                  id="cost"
                  type="number"
                  label="Cost"
                  value="{{item.cost}}"
                  disabled="{{!item.editing}}"
                  always-float-label>
                  <div prefix>$</div>
                </paper-input>
                  
              </div>
              
              <div class="layout vertical" style="margin-left: 10px;">
                <paper-input 
                  id="name" 
                  label="Product Category"
                  value="{{item.ptype}}"
                  disabled="{{!item.editing}}"
                  always-float-label>
                </paper-input>
                
                <paper-input 
                  id="quantity"
                  label="Product Type"
                  value="{{item.psubtype}}"
                  disabled="{{!item.editing}}"
                  always-float-label>
                </paper-input>
                  
                <paper-input 
                  id="discount"
                  label="Discount"
                  type="number"
                  value="{{item.discount}}"
                  disabled="{{!item.editing}}"
                  max-length="3"
                  max="100"
                  min="0"
                  always-float-label>
                  <div suffix>%</div>
                </paper-input>
                
              </div>
              
              <div class="layout vertical center flex" style="margin-left: 10px;">
                <paper-input 
                  id="image"
                  label="Image Path"
                  value="{{item.image}}"
                  disabled="{{!item.editing}}"
                  always-float-label>
                </paper-input>
                <!--<paper-textarea 
                  style="min-width: 50px; max-width: 400px;"
                  label="Info"
                  class="rightSpace"
                  value="{{item.info}}"
                  disabled="{{!item.editing}}"
                  always-float-label>
                </paper-textarea>-->
              </div>
            
            <div class="layout vertical justified">
              <paper-icon-button on-tap="editItem" icon="{{item.icon}}"></paper-icon-button>
              <div class="flex"></div>
              <paper-icon-button on-tap="removeItem" icon="delete"></paper-icon-button>
            </div>
            
          </paper-material>
        </template>
      </div>
  
      </div>

  </paper-scroll-header-panel>
  
  <paper-toast id="toast" text="{{toastMessage}}"></paper-toast>
  </template>
  
  <script>
    Polymer({
      is: "inventory-card",
      properties: {
        inventory: {
          type: Array,
          notify: true,
          value: []
        },
        filterList: {
          type: Array,
          value: [],
          notify: true
        },
        deletedItems: {
          type: Array,
          value: []
        },
        newItem: {
          type: Object,
          value: {}
        },
        itemToDelete: {
          type: Number,
          value: null,
          readonly: true
        },
        itemEditing: false
      },
      listeners: {
        'getInventoryForm.iron-form-response': 'onRefreshInventory',
        'updateInventoryForm.iron-form-response': 'onUpdateResponse',
        'removeInventoryForm.iron-form-response': 'onRemoveResponse',
        'affirmReloadDialog.iron-overlay-closed': 'onReloadDialogResponse'
      },
      ready: function() {
        this.$.getInventoryForm.submit();
      },
      onRefreshInventory: function(e) {
        if( e.detail.response && e.detail.response.result ) {
          if( e.detail.response.result == "success") {
            this.inventory = e.detail.response.items;
            console.log("new inventory: ", this.inventory);
          } else {
            console.log("error requesting inventory");
          }
        } else {
          console.log("bad inventory page");
        }
      },
      addItem: function(e) {
        this.unshift('inventory', {
              "new": true,
              "editing": true,
              "edited": false,
              "icon": "save"
            });
      },
      removeItem: function(e) {
        this.deletedItems.push(e.model.get('item'));
        //this.splice('inventory', e.model.get('item.index'), 1);

        this.itemToDelete = e.model.get('item.pid');
        this.$.removeInventoryForm.submit();
      },
      restoreItem: function(e) {
        if( this.deletedItems.length ){
          this.unshift('inventory', this.deletedItems.pop());
          this.inventory[0].new = true;
        }    
      },
      reloadItems: function() {
        var newItems = false;
        
        for( var i=0; i<this.inventory.length && !newItems; i++)
          if( this.inventory[i].new )
            newItems = true;
        
        console.log("newItems", newItems);
        
        if(!newItems)
          this.$.getInventoryForm.submit();
        else {
          this.$.affirmReloadDialog.opened = true;
        }
          
      },
      editItem: function(e) {
        var model = e.model;
        
        if( !model.get('item.edited') && model.get('item.editing')) {
          model.set('item.editing', false);
          this.itemEditing = false;
          this.newItem = JSON.stringify(model.get('item'));
          console.log("model:", model)
          console.log("item:", this.newItem, "submitting form");
          this.$.updateInventoryForm.submit();
          model.set('item.icon', 'create');
          if( model.get('item.new') ){
            model.set('item.new', false);
            this.reloadItems();
          }
        } else {
          this.itemEditing = true;
          model.set('item.editing', true);
          model.set('item.icon', 'save');
        }
        
        console.log("inventory:",this.inventory);
      },
      onReloadDialogResponse: function(e) {
        if( e.detail.confirmed )
          this.$.getInventoryForm.submit();
      },
      onUpdateResponse: function(e) {
        console.log("product update response: ", e.detail.response);
        
        this.fireInventoryChange();
        
        if( e.detail.response && e.detail.response.result ) {
          if(e.detail.response.result == "success") {
            this.toastMessage = e.detail.response.message;
            this.$.toast.open();
          } else {
            this.toastMessage = "Error: " + e.detail.response.result;
            this.$.toast.open();
          }
        } else {
          this.toastMessage = "Error contacting update page!";
          this.$.toast.open();
        }
      },
      onRemoveResponse: function(e) {
        console.log("product removal response:", e.detail.response);
        
        if( e.detail.response && e.detail.response.result ) {
          if(e.detail.response.result == "success") {
            this.toastMessage = e.detail.response.message;
            this.$.toast.open();

            this.fireInventoryChange();
            this.reloadItems();
          } else {
            this.toastMessage = "Error: " + e.detail.response.result;
            this.$.toast.open();
          }
        } else {
          this.toastMessage = "Error contacting update page!";
          this.$.toast.open();
        }
      },
      fireInventoryChange: function() {
        this.staleProducts = true;
        this.fire('stale-product');
      }
    });
      
  </script>
</dom-module>
