<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="inventory-list-item">
  <template>
    <style  include="iron-flex iron-flex-alignment">
      .item {
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          border-bottom: 1px solid #aaa;
      }
      .title {
          font-size: 18px;
         margin-right: 10px;
      }
    </style> 
    <style is="custom-style">
    </style>
    
    <paper-icon-item>
        <div class="avatar blue" item-icon>
            <paper-checkbox></paper-checkbox>
        </div>
        <paper-item-body two-line>
          <div>Item Name</div>
          <div secondary>Item Quantity, Item Price</div>
        </paper-item-body>
        <paper-icon-button raised icon="create"></paper-icon-button>
        <paper-icon-button raised icon="delete"></paper-icon-button>
      </paper-icon-item>
   
  </template>
  
  <script>
    Polymer({
      is: "inventory-list-item"
    });
      
  </script>


</dom-module>