<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="item-card">
  <template>
    <style include="iron-flex iron-flex-alignment">
    </style>
    
    <style is="custom-style">
      .square {
        margin: 15px;
        width: 234px;
        height: 234px;
      }
      paper-button {
        margin: 10px;
      }
    </style>
    
    <paper-material z="1" class="square layout vertical center-justified">
      <paper-icon-item>
        <div item-icon>${{price}}</div>
        <paper-item-body two-line>
          <div>{{data.pname}}</div>
          <div secondary>{{data.ptype}}</div>
        </paper-item-body>
      </paper-icon-item>
      
      <iron-image src="{{data.image}}" class="flex"></iron-image>
      
      <div class="layout horizontal center">
        <paper-button class="flex" raised icon="add-shopping-cart" on-tap="addToCart">
          <iron-icon icon="add-shopping-cart"></iron-icon>
          Add To Cart
        </paper-button>
      </div>
    </paper-material>
    
  </template>

  <script>
    Polymer({
      is: "item-card",
      properties: {
        data: {
          type: Object,
          value: {},
          notify: true
        },
        price: {
          type: Number,
          computed: "computePrice(data.cost, data.discount)",
          readOnly: true
        }
      },
      computePrice: function(cost, discount) {
        return (cost - cost*discount);
      },
      addToCart: function() {
        this.fire('add-to-cart', {"pid": this.data.pid});
      }
    });
  </script>

</dom-module>
