<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="item-tray">
  <template>
    <style include="iron-flex iron-flex-alignment">
    </style>
    <style is="custom-style">

    </style>
    
    <iron-ajax 
      id="ajax"
      url="../src/products.php"
      content-type="application/json"
      handle-as="json"
      method="GET"
      on-response="onProductUpdate"
      debounce-duration="300">
    </iron-ajax>
    
    <div class="layout horizontal center-justified wrap">
      <template is="dom-repeat" items="{{products}}">
        <item-card data="{{item}}"></item-card>
      </template>
    </div>

  </template>

  <script>
    Polymer({
    is: "item-tray",
    properties: {
      filterList: {
        type: Array,
        value: null,
        observer: 'updateProducts'
      },
      products: {
        type: Array,
        value: [],
        notify: true
      }
    },
    ready: function() {
      console.log("updatingProducts");
      this.updateProducts([]);
    },
    updateProducts: function(newList, oldList, forceWithNoParams) {
      console.log("list changed");
      
      if(this.$.ajax && newList && newList.length > 0) {
        this.$.ajax.params = {'filter': newList};
        this.$.ajax.generateRequest();
      } else if(this.$.ajax && newList && newList.length == 0) {
        this.$.ajax.params = {'filter': ['']};
        console.log(this.$.ajax.params);
        this.$.ajax.generateRequest();
      } else if(forceWithNoParams) {
        console.log("forcing refresh");
        this.$.ajax.params = {'filter': ['']};
        this.$.ajax.generateRequest();
      } else {
        console.log(this.$.ajax, newList);
        console.log("ajax not ready or list null");
      }
    },
    onProductUpdate: function(e) {
      console.log("products: ", e.detail.response);
      
      if(e.detail.response && e.detail.response.result) {
        if(e.detail.response.result == "success") {
          console.log("product update success");
          this.products = e.detail.response.products;
        } else {
          console.log("product retrieval error: ", e.detail.response.result);
        }
      } else {
        console.log("unexpected response");
      }
    },
    refresh: function() {
      console.log("refreshing products");

      this.updateProducts(this.filterList, this.filterList, true);
    }
    });

  </script>
</dom-module>
