<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="login-card">
  <template>
    <style include="iron-flex iron-flex-alignment">

    </style>
    <style is="custom-style">

    </style>

    <paper-icon-item on-tap="authAction">
      <iron-icon icon="account-circle" item-icon></iron-icon>
      {{loginStatus}}
    </paper-icon-item>

    <paper-dialog id="dialog" opened="{{visible}}" class="layout vertical" modal>
      <h2>Login</h2>
      <div>
	<form is="iron-form" id="loginForm" method="post" action="">
	  <paper-input label="Username"></paper-input>
	  <paper-input label="Password" type="password"></paper-input>
	  <div class="buttons">
	    <paper-button raised on-tap="close">Cancel</paper-button>
	    <div class="flex"></div>
	    <paper-button raised on-tap="login">Login</paper-button>
	  </div>
	</form>
      </div>
    </paper-dialog>


  </template>

  <script>
    Polymer({ 
    is: "login-card",
    properties: {
    visible: {
    type: Boolean,
    default: false,
    notifies: true
    },
    loginStatus: String,
    },
    ready: function() {
    this.loginStatus = "Login";
    },
    close: function() {
    this.visible = false;
    },
    authAction: function() {
    if(this.loginStatus == "Login")
    this.visible = true;
    }
    });
  </script>

</dom-module>
