<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="register-card">
  <template>
    <style include="iron-flex iron-flex-alignment">

    </style>

    <paper-dialog id="dialog" opened="{{visible}}" class="layout vertical" modal>
      <h2>Register</h2>
      <div id="content">
	<form is="iron-form" id="regForm" method="post" action="../src/register.php">
	  <paper-input name="email" label="Email"></paper-input>
	  <paper-input name="uname" label="Username"></paper-input>
	  <paper-input name="pass" label="Password" type="password"></paper-input>
	  <div class="buttons">
	    <paper-button raised on-tap="close">Cancel</paper-button>
	    <div class="flex"></div>
	    <paper-button raised on-tap="register">Register</paper-button>
	  </div>
	</form>
      </div>
    </paper-dialog>


  </template>

  <script>
    Polymer({ 
		is: "register-card",
		properties: {
			visible: {
			type: Boolean,
			default: false,
			notifies: true
			}
		},
		listeners: {
			'regForm.iron-form-response': 'handleResponse'
		},
		register: function() {
			 this.$.regForm.submit();
		},
		handleResponse(e) {
			if( e.detail.response && e.detail.response.result ) {
				if( e.detail.response.result == "success" ) {
					this.$.content.innerHTML = "Successfully registered, you may now login.";
					this.async(this.close, 2000);
				} else {
					this.$.content.innerHTML = e.detail.response.result;
				}
			} else {
				this.this.$.content.innerHTML = "Error while contacting registration page.";
			}
		},
		close: function() {
			this.visible = false;
		}
    });
  </script>

</dom-module>
